<p class='title mb-6'><b>FACILITY AGENT FEE LETTER</b></p>
<p class='mb-6'>To: </p>

<p class='mb-6'>From: </p>

<p class='mb-6'>Date: 2025</p>

<p class='mb-6'>Dear Sir/Madam</p>

<p class='mb-6'><b>  Single Currency (the "Facility Agreement") dated on or about the date hereof and made between, amongst others,  as borrower (the "Borrower") and  as facility agent (the "Facility Agent")</b></p>

</br><div class="numbered-item"><p >1. </p>We refer to the Facility Agreement.</div>
<div class="numbered-item"><p >2. </p>Unless otherwise defined in this Fee Letter, terms defined in the Facility Agreement shall have the same meaning in this Fee Letter. The rules of interpretation and construction contained in clause *1.2] (Construction)}* of the Facility Agreement shall apply to this Fee Letter as if set out in full in this Fee Letter mutatis mutandis, and references in those clauses to "this Agreement" or the Finance Documents shall be construed as references to this Fee Letter.</div>
<div class="numbered-item"><p >3. </p>This Letter is the Facility Agent Fee Letter.</div>
<div class="numbered-item"><p >4. </p>This Facility Agent Fee Letter is a Finance Documents for the purposes of the Facility Agreement.</div>
<div class="numbered-item"><p >5. </p>You shall pay to the Facility Agent (for its own account):</div>
<div class="numbered-item"><p class='indent'>(b) </pclass=><p>a fee of   per annum, which is payable in advance, for the Facility Agent acting as facility agent pursuant to the provisions of the Facility Agreement (the <b>"Facility Agent Fee"</b>),</p></div>
<div class="numbered-item"><p class='indent'>(e) </pclass=><p>The Set-Up Fee, Facility Agent Fee, Increase Fee and Debtdomain Fee shall hereinafter be referred to as the <b>"Agency Fees"</b>.</p></div>
<div class="numbered-item">Payment Modalities Facility Agent (More than one type)

6. The Agency Fees shall become due and payable as set out below.</div>
<div class="numbered-item"><p class='indent'>(a) </pclass=><p>The Set-Up Fee is payable on or before the earlier to occur of the date falling 3 Business Days after the date of the Facility Agreement and the first Utilisation Date under the Facility Agreement (the <b>"First Payment Date"</b>).</p></div>
<div class='flex-col'><div class="numbered-item"><p class='indent'>(b) </pclass=><p>The first payment of the Facility Agent Fee is payable on or before [the earlier to occur of the date falling 3 Business Days after the date of the Facility Agreement and the first Utilisation Date under the Facility Agreement (the "FirstPayment Date")][the First Payment Date]. Each subsequent payment of the Facility Agent Fee shall be made annually in advance, commencing on the first anniversary of the First Payment Date and thereafter on each subsequent anniversary of the First Payment Date, until (but excluding) the earlier of</p></div>
        
       <div class="numbered-item"><p class='account-details'>(i)</p><p>the Final Maturity Date,</p></div>
        <div class="numbered-item"><p class='account-details'>(ii)</p><p>the date we resign or are replaced as facility agent and</p></div>
        <div class="numbered-item"><p class='account-details'>(iii)</p><p>the date of prepayment of all Loans and cancellation - of all Commitments, in each case under the Facility Agreement (the <b>"Final Payment Date"</b>).</p></div></div>
<div class="numbered-item"><p class='indent'>(c) </pclass=><p>The Increase Fee shall be payable to the Facility Agent on or prior to the date falling 3 Business Days after the Increase Date and on or prior to the date falling 3 Business Days after each subsequent Increase Date.</p></div>
<div class="numbered-item"><p class='indent'>(d) </pclass=><p>The first payment of the Debtdomain Fee is payable on or before the First Payment Date. Each subsequent payment of the Debtdomain Fee shall be made annually in advance, commencing on the first anniversary of the First Payment Date and thereafter on each subsequent anniversary of the First Payment Date, until the Final Payment Date.</p></div>
<div class="numbered-item"><p >7.</p>A11 payments made by you under this Fee Letter must be made in immediately available, freely transferable and cleared funds by crediting our account (the details of which we have provided you with separately) or such other account as we may notify you in writing with 3 Business Days'' prior notice.</div>
<div class="numbered-item"><p >8.</p>If any Tax or amount in respect of a Tax must be deducted or withheld from any amount payable or paid by the  on account of or by reference to any payment by or obligation of the  hereunder, the  shall pay such additional amounts as may be necessary to ensure that the recipient of such payment receives a net amount equal to the full amount which we would have received from the  had such Tax not been made.</div>
<div class="numbered-item"><p >9.</p><p>All payments in connection with this Fee Letter are exclusive of any value added tax or similar charge ("<b>VAT</b>"). If VAT is chargeable, the  shall also and at the same time pay to the recipient of the relevant payment an amount equal to the amount of the VAT.</p></div>
<div class="numbered-item"><p >10.</p>The Agency Fees once paid are non-refundable (in whole or in part) and non-creditable (in whole or in part) against other fees in connection with the Facility Agreement</div>
<div class="numbered-item"><p >11.</p>This Fee Letter and your rights hereunder may not be assigned by you without our prior written consent.</div>
<div class="numbered-item"><p >12.</p>This Facility Agent Fee Letter may not be amended or waived except as may be agreed in writing by the Facility Agent and the Borrower.</div>
<div class="numbered-item"><p >13.</p>This Facility Agent Fee Letter may be signed in any number of counterparts. This has the same effect as if the signatures on the counterparts were on a single copy of this Fee Letter.</div>
<div class="numbered-item"><p >14.</p>A person who is not a party to this Fee Letter shall have no rights under the Contracts (Rights of Third Parties) Act 1999 or otherwise to enforce or enjoy the benefit of any terms of this Fee Letter.</div>
<div class="numbered-item"><p >15.</p>This letter and all non-contractual obligations arising from or connected with it are governed by English law.</div>
<div class="numbered-item"><p >16.</p>Each party hereby submits to exclusive jurisdiction of the English courts and waives any defence of forum non conveniens which may be available.</div>
By signing and returning a copy of this Fee Letter to the Facility Agent, you acknowledge your agreement to its terms.

<div><p>Yours faithfully</p></div></br><div><p>_______________</p></div></br><div><p>For and on behalf of</p><p><b></b></p></div></br><div><p>Agreed and accepted by</p></div></br><div class='mb-5'><p>_______________</p></div>For and on behalf of 
<b></b>
<style>
              p {
            margin: 0;
          }
          .title {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-decoration: underline;
          }
          .numbered-item {
            display: flex;
            margin-left: 2em;
            margin-bottom: 1em;
          }
          .numbered-item p:first-child {
            width: 20px;
            margin-right: 15px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
          }
          .indent {
            margin-left: 3em;
          }
          .account-details {
            margin-left: 4em;
            margin-top: 0.5em;
          }
          .signature-block {
            margin-top: 3em;
          }
          .signature-line {
            margin: 2em 0;
          }
          .flex {
            display: flex;
          }
          .flex-col {
            display: flex;
            flex-direction: column;
          }
          .ml-16 {
            margin-left: 64px;
          }
            .mb-6 {
            margin-bottom: 12px;
          }
          </style>