@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  position: relative;
}

.auth-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.auth-left-container,
.auth-right-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left-container {
  width: 50%;
  background: #000000;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.auth-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #282828;
}

.logo--wrapper {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.brand-logo {
  width: 250px;
  margin-top: 40px;
}

.auth-form {
  display: block;
  margin-top: 20px;
}

.text-input-field {
  width: calc(100% - 20px);
  border: 1px solid grey;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
}

.webcam-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camera-container {
  position: relative;
  display: block;
  width: 360px;
  height: 270px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 2px solid #454545;
  animation: border-glow 2s infinite alternate;
}

/* Scanning Line Animation */
.camera-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgba(65, 165, 219, 0.7); /* Blue scan line */
  top: -4px;
  left: 0;
  animation: scan 3s infinite linear;
}

/* Border Animation */
@keyframes border-glow {
  0% {
    border-color: grey;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  100% {
    border-color: rgba(65, 165, 219, 0.79);
    box-shadow: 0 0 15px rgba(65, 165, 219, 0.79);
  }
}

/* Scanning Line Movement */
@keyframes scan {
  0% {
    top: -4px;
  }
  100% {
    top: 100%;
  }
}

.btn-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.main-button {
  height: 44px;
  width: 370px;
  outline: none;
  border: 1px solid transparent;
  padding: 5px 15px;
  background-color: #41a5db;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.secondary-btn {
  background-color: grey;
  margin-right: 10px;
}

.auth-title {
  font-size: 25px;
  margin: 0 0 40px;
  background-color: rgba(0, 165, 203, 0.9);
  border-radius: 20px 20px 0 0;
  padding: 10px;
  color: #ffffff;
}

.login-text {
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 0;
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 0;
}

.cursor-animation-canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  pointer-events: none;
}

.welcome-text {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 165, 203, 0.9);
  margin: 0 0 20px;
}

.bottom-text {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.footer-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.error-text {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.spinner-wrapper {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

.page-spinner {
  width: 30px;
  height: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green-tick-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For Letter */

.letter-wrapper p {
  margin: 0;
  text-align: justify;
}

.letter-wrapper div {
  text-align: justify;
}
.letter-wrapper .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.letter-wrapper .numbered-item {
  display: flex;
  margin-left: 2em;
  margin-bottom: 1em;
}
.letter-wrapper .numbered-item p:first-child {
  width: 25px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
.letter-wrapper .indent {
  margin-left: 4.5em;
}
.letter-wrapper .account-details {
  margin-left: 4em;
  margin-top: 0.5em;
}
.letter-wrapper .signature-block {
  margin-top: 3em;
}
.letter-wrapper .signature-line {
  margin: 2em 0;
}
.letter-wrapper .flex {
  display: flex;
}
.letter-wrapper .flex-col {
  display: flex;
  flex-direction: column;
}
.letter-wrapper .ml-16 {
  margin-left: 64px;
}
.letter-wrapper .mb-6 {
  margin-bottom: 12px;
}
